<!-- Inicio de panel de Navegacion aun no terminado-->
<nav class="navbar navbar-expand-sm bg-light shadow-sm py-0">
  <div class="container-fluid px-4 ">
    <div class="d-flex align-items-center gap-3">
      <button
        class=" d-sm-block d-sm-none  border-0 bg-transparent"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
      >
        <span style="font-size: 1.6rem; line-height: 1; color: green"
          >&#8942;</span
        >
      </button>
      <a class="navbar-brand m-0">
        <img src="/logoVU.png" style="width: 150px; height: auto" />
      </a>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="list-unstyled  gap-3  align-items-center d-sm-inline-flex">
        <li class=""><a href="#" class="nav-link"> Inicio </a></li>
        <li class="nav-item"><a href="#" class="nav-link"> ¿Que es VU? </a></li>
        <li class="nav-item">
          <a href="#" class="nav-link"> Licencias Emitidas </a>
        </li>
        <li class=""><a href="#" class="nav-link"> Mapa </a></li>
        <li class=""><a href="#" class="nav-link text-dark"> Noticias </a></li>
      </ul>
      <div class="m-4 mt-2">
        <a href="">
          <img src="/logoVU.png" alt="" style="width: 60px; height: auto" />
        </a>
      </div>
    </div>
  </div>
</nav>

<!-- Iniio de seccion hero aun no terminado-->
<section class="container py-5 ">
  <div class="row align-items-start">
    <div class="col-lg-6 d-flex flex-column justify-content-center ">
      <h1 class="display-4 fw-bold mb-4">Visor Urbano Jalisco</h1>
      <p class="lead mb-5 text-secondary">
        Aquí podrás conocer los requisitos aplicables para abrir tu negocio y
        tramitar tu licencia totalmente en línea.
      </p>
      <div>
        <button
          class=" btn btn-success  border-0 rounded-pill px-5 w-75 btn-lg shadow"
          type="button"
          style=" background-color: #70ce68"
        >
          Conoce los requisitos
        </button>
      </div>
    </div>
    <div class=" col-lg-6 mt-5 mt-lg-0 text-center">
        <img src="/banner_home.png" class="img-fluid" alt="">
    </div>
  </div>
</section>
