<nav class="navbar navbar-expand-sm bg-light shadow-sm py-0">
  <div class="container-fluid px-4 p-lg-0">
    <div class="d-flex align-items-center gap-3">
      <button
        class="btn border-0  bg-transparent"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
      >
        <span style="font-size: 1.6rem; line-height:1; color: green;">&#8942;</span>
      </button>
      <a class="navbar-brand m-0">
        <img src="/logoVU.png" style="width: 150px; height: auto" />
      </a>
    </div>
    <div class="collapse navbar-collapse justify-content-end " id="navbarNav">
      <ul class="list-unstyled d-flex gap-4 mb-0 align-items-center">
        <li class=""><a href="#" class="nav-link"> Inicio </a></li>
        <li class="nav-item"><a href="#" class="nav-link"> ¿Que es VU? </a></li>
        <li class="nav-item">
          <a href="#" class="nav-link"> Licencias Emitidas </a>
        </li>
        <li class=""><a href="#" class="nav-link"> Mapa </a></li>
        <li class=""><a href="#" class="nav-link text-dark"> Noticias </a></li>
      </ul>
      <div class=" m-4 mt-2">
      <a href="">
        <img src="/logoVU.png" alt="" style="width: 60px; height: auto;">
      </a>
      </div>
    </div>
  </div>
</nav>
