<!-- Inicio de panel de Navegacion aun no terminado-->
<nav class="navbar navbar-expand-sm bg-light shadow-sm py-0">
  <div class="container-fluid px-4 ">
    <div class="d-flex align-items-center gap-3">
      <button class=" d-sm-block d-sm-none  border-0 bg-transparent" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarNav">
        <span style="font-size: 1.6rem; line-height: 1; color: green">&#8942;</span>
      </button>
      <a class="navbar-brand ms-5 mb-2">
        <img src="/logoVU.png" style="width: 90px; height: auto" />
      </a>
    </div>
    <div class="collapse navbar-collapse  justify-content-end " id="navbarNav">
      <ul class="list-unstyled   mt-3 align-items-center fw-medium gap-3 d-sm-inline-flex">
        <li class=""><a href="#" class="nav-link"> Inicio </a></li>
        <li class="nav-item"><a href="#" class="nav-link"> ¿Que es VU? </a></li>
        <li class="nav-item">
          <a href="#" class="nav-link"> Licencias Emitidas </a>
        </li>
        <li class=""><a href="#" class="nav-link"> Mapa </a></li>
        <li class=""><a href="#" class="nav-link text-dark"> Noticias </a></li>
      </ul>
      <div class="ms-3 ">
        <a href="#">
          <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-person-circle " fill="#70ce68"
            style=" width: 30; height: auto;" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
            <path fill-rule="evenodd"
              d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
          </svg>
        </a>
      </div>
    </div>
  </div>
</nav>

<!-- Inicio de seccion hero aun no terminado-->
<section class="container-fluid py-5 px-5 bg-white">
  <div class="row align-items-start">
    <div class="col-lg-6 flex-column justify-content-center">
      <h1 class="display-4 fw-medium mb-5">Visor Urbano Jalisco</h1>
      <p class="lead mb-5 text-secondary fw-semibold">
        Aquí podrás conocer los requisitos aplicables para abrir <br>tu negocio y
        tramitar tu licencia totalmente en línea.
      </p>
      <div>
        <button class="btn btn-success border-0 rounded-pill px-5 w-50 btn-lg shadow" type="button"
          style="background-color: #70ce68">
          Conoce los requisitos
        </button>
      </div>
    </div>

    <div class="col-lg-6 mt-5 mt-lg-0 text-center">
      <img src="/banner_home.png" class="img-fluid" style="max-width: 664px; height: auto;" alt="Banner Visor Urbano">
    </div>

  </div>

</section>
<div class="row text-center justify-content-center" style="background: #f6fafa; margin: 0;">
  <h1 class=" mb-5">¿Qué puedes consultar en la plataforma de Visor<br /> Urbano?</h1>
  <div class="col-md-3 d-flex flex-column align-items-center mb-4">
    <img src="https://visorurbano.jalisco.gob.mx/assets/images/landing/ico_licencia_negocio.svg" 
          class="mb-3" alt="Licencias">
    <span>Licencias de negocios en Jalisco</span>
  </div>
  <div class="col-md-3 d-flex flex-column align-items-center mb-4">
    <img src="https://visorurbano.jalisco.gob.mx/assets/images/landing/ico_requisitos.svg" alt="" class="mb-3">
    <span>Licencias de negocios en Jalisco</span>
  </div>
  <div class="col-md-3 d-flex flex-column align-items-center mb-5">
    <img src="https://visorurbano.jalisco.gob.mx/assets/images/landing/ico_analisis.svg" alt=""class="mb-3">
    <span>Licencias de negocios en Jalisco</span>
  </div>
 <div>
  <button class="btn btn-success border-0 rounded-pill px-5 w-25 shadow mt-3" type="button"
          style="background-color: #70ce68">
          Ir al Mapa
        </button>
 </div>
</div>